/*------------------------------------*\
    $CUTOUT
\*------------------------------------*/

.cutout{
    @extend .one-whole;
    @extend .center;
    padding:15px 0;
    background-color:#e2e2e2;
    display:none;
    color:#666;
    margin-bottom: 15px;
    @include vendor(box-shadow, inset 0px 2px 5px #666, inset 0px -2px 5px #666);
}