.js--stickem-container {
    position: relative;

}
    .stickit {
        left: 66.66%;
        position: fixed;
        top: 25px;
    }

.dynatoc{
    li{
        a{
            border-left: 3px solid transparent;
            padding-left: 4px;

            &.active{
                border-left-color: hsl(209, 45%, 40%);
            }

            &.active--muted{
                border-left-color:hsla(209, 45%, 40%, 0.5);
            }
        }
    }
}