.nav--extra
{
    @extend .alpha;
    color:$brand-color--dark-grey;

    a
    {
        color:$brand-color--dark-grey;



        &:hover,
        &:focus,
        &:active
        {
            color:$brand-color;
        }
    }

    li
    {
        &:last-child
        {
            &:after
            {
                content:'';
            }
        }

        &:after
        {

            content:' •';
        }
    }
}

@each $page in home, projects, about{
    .page--#{$page} .nav--extra__#{$page} {
        cursor:text;
        color:$brand-color;
    }
}