/*------------------------------------*\
    $PAGE
    ^base ^custom ^layout ^theme
\*------------------------------------*/
::selection{
    color:#fff;
    background-color:$brand-color;
}

@each $h in 1,2,3,4,5,6{
    h#{$h}{
        color:$brand-color;
    }
}

a{
    color: $brand-color;

    &:hover
    {
        color:#666;
        @include vendor(border-radius, 2px);
    }
}

pre{
    background-color:#222;
}

body{
    background-color:whitesmoke;
    color:#666;
}

.wrapper{
    max-width:1100px;
    margin-right:auto;
    margin-left: auto;
    padding-right:$base-spacing-unit;
    padding-left:$base-spacing-unit;

    @include media-query(portable){
        padding-right:$half-spacing-unit;
        padding-left: $half-spacing-unit;
        max-width:640px;
    }
}

.feature{
    position:relative;
    max-width:100%;
    height:150px;
    background:url('images/header-background.jpg') no-repeat top left fixed;
    z-index:-1;
    padding:0;
    margin:0;

    @include media-query(portable){
        display:none+"!important";
        height:100px;
    }

    &:after,
    &:before
    {
        content:'';
        position: absolute;
        width: 100%;
        height: 100px;
        background: inherit;
        z-index:inherit;
    }

    &:after
    {
        bottom:-50px;
        @include vendor(border-radius, 50%);
    }
}

.header{
    margin-top:-25px;

    @include media-query(palm){
        margin-top:65px;
    }
}

.content{
    min-height:500px;

    .post
    {
        @extend .one-whole;
        @extend .desk-one-third;
        @extend .lap-one-half;

        h1
        {
            margin:0;
        }
    }

}

.btn--round{
    border-radius:50%;
    width:100px;
    height:100px;
    color: whitesmoke;
    background-color:$brand-color;
    border-width:1px;
    border-style:solid;
    border-color:darken($brand-color, 5%);

    &:hover{
        border-radius:50%;
        color:whitesmoke;
        opacity:0.5;
    }
}

    .btn--contact-me{
        margin-top:45px;
        padding-top:25px;
        font-size:1.2em;
        line-height:1.4em;
    }

.table--striped{
    tbody tr:nth-of-type(odd){
        background-color:lighten($brand-color, 45%);
    }
    tbody tr:hover{
        opacity:0.75;
    }
}

.footer{
}