
.social-icons{

    li
    {
        width:100px;
        height:100px;
        margin:10px auto;

        a
        {
            position:relative;
            width:inherit;
            height:inherit;
            display:table-cell;
            vertical-align:middle;
            @include vendor(border-radius, 50%);
            @include vendor(opacity, 0.4);

            &:hover
            {
                @include vendor(opacity, 1)
            }

            img
            {
                width:75px;
                margin:auto;
            }
        }
    }

}