h1,
h2{
    color:$brand-color--dark-grey;
}

.center{
    text-align:center;
}

pre{
    @extend pre;
    background-color:transparent;
    white-space:pre;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:15px;
}

p{
	code{
		@extend .code-comment;
	}
}