---
layout: base
title: Oops, not found so threw a 404
author: Nigel Greenway
class: 404
---

<div class="gw">
    <div class="g one-whole desk-two-thirds">
        <h1 class=beta>
            Looks like what you are wanting is not here?
        </h1>
        <p>So, my posts are as follow, or you read another blog I read (Which are worth reading) in the `Worth a read` column to your right...</p>
        <ul class="nav nav--stacked">
        {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="g one-whole desk-one-third">
        <h2>Worth a read</h2>
        <ul class="nav nav--stacked">
            {% for r in site.readingList %}
                <li><a href="{{ r.url }}" class="post--link" target="new">{{ r.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>