---
layout: base
title: Book Shelf
class: bookshelf
---

<div class="gw">
	<div class="g one-whole">
		<h3 class="center">Book Shelf</h3>
		<p>
			This is just a list of book that I am wanting to read, am reading and have read. That's it, nothing more. Oh, I may add a review/thoughts about book part to depending on the book.
		</p>

		<div class="[ g one-third ][ center ]">
			<h3>Read</h3>
		{% for book in site.readList %}
			<a href="{{ book.url }}">{{ book.title }}</a><br>
			by <a href="{{ book.authorUrl }}">{{ book.author }}</a>
			{% if forloop.last == false	 %}
				<p style="margin-bottom:0px!important;">~</p>
			{% endif %}
		{% endfor %}
		</div>

		<div class="[ g one-third ][ center ]">
			<h3>Reading/Got it</h3>
		{% for book in site.readingList %}
			<a href="{{ book.url }}">{{ book.title }}</a><br>
			by <a href="{{ book.authorUrl }}">{{ book.author }}</a>
			{% if forloop.last == false	 %}
				<p style="margin-bottom:0px!important;">~</p>
			{% endif %}
		{% endfor %}
		</div>

		<div class="[ g one-third ][ center ]">
			<h3>Wishlist</h3>
		{% for book in site.wishList %}
			<a href="{{ book.url }}">{{ book.title }}</a><br>
			by <a href="{{ book.authorUrl }}">{{ book.author }}</a>
			{% if forloop.last == false	 %}
				<p style="margin-bottom:0px!important;">~</p>
			{% endif %}
		{% endfor %}
		</div>

	</div>
</div>
