---
layout: base
title: Welcome
description: Articles on general development and programming along with  other findings... oh, and a gallery.
keywords: PHP, CSS, CSS3, OOCSS, Web Development, HTML, HTML5, Bash, Coding, development, Blog, Photography
author: Nigel Greenway
class: home
---

<div class="gw">
{% for post in paginator.posts %}
	<div class="g post js--post">
		<h1 class=beta>
			<a href="{{ post.url }}" title="{{ post.title }}" class="post--link">{{ post.title }}</a>
		</h1>
		<p>{{ post.description }}</p>
	</div>
{% endfor %}
</div>

{% if paginator.next_page %}
<div class=gw>
	<ol class="nav pagination" role="pagination">
	    <li class="pagination__prev">
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		    <a href="">Previous</a>
		{% else %}
		    <a href="/page{{paginator.previous_page}}">Previous</a>
		{% endif %}
		{% else %}
		    Previous
		{% endif %}
		</li>
		<li class="pagination__next">
		{% if paginator.next_page %}
		    <a href="/page{{paginator.next_page}}">Next</a>
		{% else %}
		    Next
		{% endif %}
	    </li>
	</ol>
</div>
{% endif %}