<!--[if IE]>
<script src="/assets/js/libs/html5shiv.min.js"></script>
<![endif]-->
<script src="/assets/js/vendor/jquery-1.8.0.min.js"></script>
<script src="/assets/js/plugins/stellar.js"></script>
<script src="/assets/js/plugins/stickem.js"></script>
<script src="/assets/js/plugins/custom.js" type="text/javascript"></script>

<script>
$(document).ready(function(){
	$('.js--about__cutout').click(function(e) {
		$('.js--cutout').stop().slideToggle();
		e.preventDefault();
	});
  $('a[href^="http"]').attr('target', '_new');
});
$(window).stellar();
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27704404-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>