<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<section class="header">
    <div class="container" style="border: 1px solid #428bca; padding: 5px 10px; background-color: #428bca1a;">
        <div class="content">
            <p>okay, shameless plug time… My wife is doing a 3 day trek of Mount Toubkal in Morocco next September and needs to raise £2000 for <a href="https://www.ssafa.org.uk/">ssafa.org.uk</a>. Please donate to <a href="https://mydonate.bt.com/fundraisers/emmagreenway1">mydonate.bt.com</a> to help her on this amazing experience - Thank you</p>
        </div>
    </div>
</section>
<section class="header">
    <div class="container">
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    <a href="{{ .Site.BaseURL }}posts/"><li {{ if eq (lower .Title) "posts"}}style="font-weight:800;"{{ end }}>Posts</li></a>
                    <a href="{{ .Site.BaseURL }}bookshelf/"><li {{ if eq (lower .Title) "book shelf"}}style="font-weight:800;"{{ end }}>Book Shelf</li></a>
                    <a href="{{ .Site.BaseURL }}whoami/"><li {{ if eq (lower .Title) "whoami"}}style="font-weight:800;"{{ end }}>Whoami</li></a>
                </ul>
            </nav>
        </div>
    </div>
</section>
