<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<section class="header">
    <div class="container">
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    <li {{ if eq (lower .Title) "posts"}}style="font-weight:900;font-style:underline;"{{ end }}><a href="{{ .Site.BaseURL }}posts/">Posts</a></li>
                    <li {{ if eq (lower .Title) "book shelf"}}style="font-weight:900;"{{ end }}><a href="{{ .Site.BaseURL }}bookshelf/">Book Shelf</a></li>
                    <li {{ if eq (lower .Title) "whoami"}}style="font-weight:900;"{{ end }}><a href="{{ .Site.BaseURL }}whoami/">Whoami</a></li>
                    <li {{ if eq (lower .Title) "Curriculum Vitae: Nigel Greenway"}}style="font-weight:900;"{{ end }}><a href="{{ .Site.BaseURL }}cv/">CV</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
