{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
                <div class="meta">
                    <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</div>
                    <div class="reading-time"><div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
                </div>
            </div>
            <div class="markdown">
                {{ partial "content" . }}
                <br>
                <p>
                {{ if .PrevInSection }}
                    <a href="{{.PrevInSection.Permalink}}" style="float:left;">Previous</a>
                {{ end }}
                {{ if .NextInSection }}
                    <a href="{{.NextInSection.Permalink}}" style="float:right;">Next</a>
                {{ end }}
                </p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</section>

<div id="img-viewer" class="image-viewer">
    <img src="">
</div>

<script>
    var articleImages = document.querySelectorAll('section.main img'),
        imageViewer = document.getElementById('img-viewer');

    articleImages.forEach( function (img) {
        img.addEventListener('click', function (event) {
            imageViewer.querySelector('img').src = img.src;
            imageViewer.style.display="block";
        });
    });

    imageViewer.addEventListener('click', function (event) {
        this.style.display="none";
    });
</script>

{{ partial "footer.html" . }}
