<!DOCTYPE html>
<html lang=en>
<head>
	{% include site.head.html %}
</head>
<body class="page--{{ page.class }}">

	<div class="feature" id="scroller" data-stellar-background-ratio="0.5"></div>

	<header class="header">
		<nav role="navigation">
		{% include site.nav.html %}
		</nav>
	</header>

	<div class="wrapper">
		<div class=gw>
			<p class="g one-whole center">
				Husband • Father • Developer • Geek • Hobby Photographer • Constantly Learning • Promoter Of All Things I Enjoy
			</p>
		</div>
		<section class="content" role="main">
			{{ content }}
		</section>

		<footer class="footer">
			{% include site.footer.html %}
		</footer>
	</div>
	{% include site.scripts.html %}
</body>
</html>