---
layout: base
class: post
---

<div class="gw">
	<div class="g one-whole">
		<h1 class="beta">{{ page.title }}</h1>
	</div>
</div>

<div class="gw js--stickem-container">
	<div class="g one-whole desk-two-thirds">
		<article role="article">
			{{ content }}
		</article>
	</div>
	<div class="g one-whole desk-one-third js--stickem">
		<ul class="js--dynatoc  |  nav nav--stacked dynatoc hide--palm hide--lap">
		</ul>
		<ul class="nav nav--stacked hide--palm hide--lap">
			<li>Other great reads:</li>
			{% for r in site.extraReadingList %}
				<li><a href="{{ r.url }}" class="post--link" target="new">{{ r.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="gw">
	<ol class="g nav pagination" role="pagination">
		{% if page.previous %}
	    <li class="pagination__prev">
		    <a href="{{ page.previous.url }}">Previous</a>
		</li>
		{% endif %}
		{% if page.next %}
	    <li class="pagination__next">
		    <a href="{{ page.next.url }}">Next</a>
		</li>
		{% endif %}
	</ol>
</div>